@model Vidly.Models.MyCustomer;

<h2>
    Customer details :
</h2>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name);
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name);
        </dd>
    </dl>
</div>